
<div class="row">
<div class="col-7">
    <span><%= link_to "Edit", edit_movie_path(@movie) %> | </span> 
    <span><%= link_to "Delete", movie_path(@movie), method: :delete, data: { confirm: "Are you sure?"} %></span>
</div>
</div>


<div class="row">
<div class="col-7">
    <h1><%= @movie.title %>
    <h5><%= @movie.description %></h5>
    <h6>Director: <%= @movie.director %></h6>
    <h6>Runtime: <%= @movie.runtime %></h6>
    <h6>Year Released: <%= @movie.year %></h6>
    <h6>Rated: <%= @movie.rating %></h6>

</div>
<div>
    <%= image_tag(@movie.image, width: "350px")%>
</div>
</div>